/**********/
/* LOADER */
/**********/
.loader {
  animation-duration: 5s;
  animation-name: showLoader;
  animation-fill-mode: both;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  color: $primaire;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 3em;
    animation-duration: 5s;
    animation-name: spinLoader;
  }
}

/*************/
/* HOME PAGE */
/*************/
.header-home {
  text-align: center;
  margin-bottom: 1em;
  box-shadow: 0px 0px 7px #727272;
}

.position {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  font-size: 0.6em;

  h2 {
    font-weight: normal;
  }
}

.entreprise {
  .presentation {
    background-color: #f2f2f2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2em;
    align-items: center;
  }

  .fonctionnement {
    padding: 2em 1em 3em 1em;
    background-color: #fff;

    h2 {
      margin-bottom: 1em;
    }

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-left: 0.8rem;
      font-size: 0.9em;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      background: #ebebeb;
      border-radius: 25px;
      padding: 1.5em 2em;
      border: none;
      box-shadow: 0px 0px 5px 0px #00000040;
      color: #000;

      &:hover {
        background-color: #ddd5e6;

        i {
          color: $primaire;
        }
      }

      .circle-number {
        font-weight: normal;
        height: 1.5em;
        width: 1.7em;
        padding-bottom: 0.2em;
        color: #fff;
        background-color: $primaire;
        border-radius: 50%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin-left: -2.7em;
      }

      i {
        color: #636363;
        margin-right: 1em;
      }
    }
  }
}

.restaurant {
  padding: 2em 1em 3em 1em;
  background-color: #f2f2f2;

  h2 {
    margin-bottom: 1em;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1em;

    figure {
      position: relative;
      background-color: white;
      box-shadow: 0px 0px 5px 0px #00000047;
      border-radius: 15px;

      .block-new {
        font-weight: bold;
        position: absolute;
        top: 1em;
        right: 1em;
        background: $tertiaire;
        color: #448970;
        border-radius: 5px;
        padding: 0.5em 1em;
        box-shadow: 0px 0px 5px 0px #00000047;
      }

      img {
        width: 100%;
        height: 9rem;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      figcaption {
        padding: 0.8em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
